body{
    background-color: rgb(199, 199, 199);
}
.heading{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 525px;
}
h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 475px;
   margin-top: -30px; 
}
.section1 ,.section2 ,.section3 ,.section4{
    border-radius: 25px;
    height:150px;
    width:300px;
    border-style: solid;
    background-color: white;
    padding:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: white;
}
.section1 img{
    margin-left:220px;
    box-shadow: 10px 10px 10px gray;
}
h3{
    margin-top: 35px;
}
.section2 img{
    margin-left:220px;
    box-shadow: 10px 10px 10px gray;
}
.section3 img{
    margin-left:220px;
    box-shadow: 10px 10px 10px gray;
}
.section4 img{
    margin-left:220px;
    box-shadow: 10px 10px 10px gray;
}

.line1{
    background-color: red;
    width:355px;
    height:15px;
    margin:-28px;
    border-radius: 25px 25px 0px 0px ;
}
.line2{
    background-color: rgb(13, 16, 180);
    width:355px;
    height:15px;
    margin:-28px;
    border-radius: 25px 25px 0px 0px ;
}
.line3{
    background-color: rgb(204, 226, 2);
    width:355px;
    height:15px;
    margin:-28px;
    border-radius: 25px 25px 0px 0px ;
}
.line4{
    background-color: rgb(3, 139, 94);
    width:355px;
    height:15px;
    margin:-28px;
    border-radius: 25px 25px 0px 0px ;
}
.section1 {
    margin-left: 500px;
    display: inline-block;
    position: relative; 
    top:95px;
    margin-top: -70px;
}

.section2{
    margin-left: 130px;
    display: inline-block;
}
.section3{
    margin-left: 380px;
    display:inline-block;
}
.section4{
    margin-left: 500px;
    margin-top: -95px;
}